{{ form_start(form, {'attr': {'id': 'project_etudetype'}}) }}
{% form_theme form 'Project/Form/fields.html.twig' %}
<table class="table table-bordered table-striped standard">
    {# Sélectionner une cca ou sélectionner/créer un nouveau prospect #}
    <tr>
        <th>
            {{ form_label(form.boutonCcaActive) }}
            {{ form_errors(form.boutonCcaActive) }}
            <span class="badge badge-default" data-toggle="tooltip" title="{{ 'suivi.etude_form.cca_active_tooltip'|trans({}, 'project') }}">?</span>
        </th>
        <td>{{ form_widget(form.boutonCcaActive) }}</td>
    </tr>
    <tr>
        <th>
            {{ form_label(form.cca) }}
            {{ form_errors(form.cca) }}
        </th>
        <td>{{ form_widget(form.cca, {'attr': {'class': 'select2'}}) }}</td>
    </tr>
    <tr>
        <th>
            {{ form_label(form.knownProspect) }}
            {{ form_errors(form.knownProspect) }}
        </th>
        <td>{{ form_widget(form.knownProspect) }}</td>
    </tr>
    <tr>
        <th id="{{ form.newProspect.vars.id }}_block" colspan="2" class="success">
            {{ 'suivi.etude_form.prospect_nouveau'|trans({}, 'project') }}
        </th>
    </tr>

    {% include "Personne/Prospect/formulaire.html.twig" with {'form':  form.newProspect, 'tagsHidden': 'hidden'} %}

    <tr>
        <th id="{{ form.newProspect.vars.id }}_block" colspan="2" class="success">
            {{ 'suivi.etude_l'|trans({}, 'project') }}
        </th>
    </tr>
    <tr>
        <th>{{ form_label(form.prospect) }} {{ form_errors(form.prospect) }}</th>
        <td>{{ form_widget(form.prospect, {'attr': {'class': 'select2'}}) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.nom) }} {{ form_errors(form.nom) }}</th>
        <td>{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.description) }} {{ form_errors(form.description) }}</th>
        <td>{{ form_widget(form.description) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.mandat) }} {{ form_errors(form.mandat) }}</th>
        <td>{{ form_widget(form.mandat) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.num) }} {{ form_errors(form.num) }}
            <span class="badge badge-default" data-toggle="tooltip"
                  title="{{ 'suivi.etude_form.mandat_tooltip'|trans({}, 'project') }}">?</span>
        </th>
        <td>{{ form_widget(form.num) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.confidentiel) }} {{ form_errors(form.confidentiel) }}</th>
        <td>{{ form_widget(form.confidentiel) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.suiveur) }} {{ form_errors(form.suiveur) }}</th>
        <td>{{ form_widget(form.suiveur) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.suiveurQualite) }} {{ form_errors(form.suiveurQualite) }}</th>
        <td>{{ form_widget(form.suiveurQualite) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.domaineCompetence) }} {{ form_errors(form.domaineCompetence) }}</th>
        <td>{{ form_widget(form.domaineCompetence, {'attr': {'class': 'select2'}}) }}</td>
    </tr>
    <tr>
        <th>{{ form_label(form.sourceDeProspection) }} {{ form_errors(form.sourceDeProspection) }}</th>
        <td>{{ form_widget(form.sourceDeProspection, {'attr': {'class': 'select2'}}) }}</td>
    </tr>
</table>

{{ form_widget(form) }}

{{ form_end(form) }}


    <div class="row">
    <div class="col-md-3 col-xs-6">
        <button type="submit" form="project_etudetype" class="btn btn-success">
            {{ 'suivi.etude_enregistrer'|trans({}, 'project') }}
        </button>
    </div>
    {% if delete_form is defined %}
        <div class="col-md-3 col-md-offset-3 col-xs-6">
            <form class="bootbox-confirm inline" data-content="{{ 'suivi.etude_supprimer_confirm'|trans({}, 'project') }} ?"
                  action="{{ path('project_etude_supprimer', { 'nom': etude.nom }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger">{{ 'suivi.etude_supprimer'|trans({}, 'project') }}</button>
            </form>
        </div>
    {% endif %}
</div>

{{ form_javascript(form) }}

<script>
    {# We can't directly use selectOrNew template here. #}
    {# We want all prospect fields hidden when BoutonCcaActive is checked. #}
    {# We want to be able to add a new prospect (and hide existing prospect list) when both knownProspect and BoutonCcaActive is unchecked #}


    {# CCA DOM elements #}
    var boutonCca = $('input#{{ form.boutonCcaActive.vars.id }}');
    var cca = $("[id^='{{ form.cca.vars.id }}']").closest('tr');

    {# Prospect DOM elements #}
    var boutonProspect = $('input#{{ form.knownProspect.vars.id }}');
    var ligneBoutonProspect = boutonProspect.closest('tr');
    var prospect = $("[id^='{{ form.prospect.vars.id }}']").closest('tr');
    var newProspect = $("[id^='{{ form.newProspect.vars.id }}']").closest('tr');

    function show(object) {
            object.find('input').attr('disabled', false);
            object.show();

            // Unfortunately, it's needed for correct display...
            // With {'attr': {'class': 'select2'}} in widget, it's better, but not
            // until user has first selected a CCA
            object.find('.select2').css('width', '90%');
    }

    function hide(object) {
            object.find('input').attr('disabled', true);
            object.hide();
    }

    {# Simple logic: Cca as the priority over anything, Prospect control the rest #}
    function hideAndSeek(isBoutonCcaActive, isBoutonProspectActive) {
        if (isBoutonCcaActive) {
            show(cca);

            hide(prospect);
            hide(newProspect);
            hide(ligneBoutonProspect);
        } else {
            hide(cca);
            show(ligneBoutonProspect)
            if (isBoutonProspectActive) {
                show(prospect);
                hide(newProspect);
            } else {
                show(newProspect);
                hide(prospect);
            }
        }
    }


    {# Bind two buttons to their behavior #}
    boutonCca.change(function() {
        hideAndSeek(boutonCca.is(':checked'), boutonProspect.is(':checked'));
    }).change();

    boutonProspect.change(function() {
        hideAndSeek(boutonCca.is(':checked'), boutonProspect.is(':checked'));
    }).change();
</script>
