{% extends "Project/layout.html.twig" %}

{% set negoID = constant('App\\Entity\\Project\\Etude::ETUDE_STATE_NEGOCIATION') %}
{% set enCoursID = constant('App\\Entity\\Project\\Etude::ETUDE_STATE_COURS') %}

{% block title %}
	{{ 'dashboard.vue_ca'|trans({}, 'dashboard') }}
	{{ parent() }}
{% endblock %}

{% block content_title %}
	{{ 'dashboard.vue_ca'|trans({}, 'dashboard') }}
{% endblock %}

{% block breadcrumb_active %}
	{{ 'dashboard.vue_ca'|trans({}, 'dashboard') }}
{% endblock %}

{% block content_bundle %}
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="brand" href="{{ path('project_etude_voir', {'nom': etude.nom}) }}">
			<h4>{{ etude.reference(param('namingConvention')) }}</h4>
		</a>
	</div>
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			{# Précédent #}
			<li>
				<a href="{{ path('project_vue_ca', {'id': prevID}) }}">
					<i class="fa fa-arrow-left"></i>
					{{ 'suivi.précédent'|trans({}, 'project') }}</a>
			</li>
			{# Accès rapide #}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-th-list"></i>
					{{ 'suivi.acces_rapide'|trans({}, 'project') }}
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li class="nav-header">
					{% for etude in etudes %}
						{# On affiche l'état de l'étude pour le premier et à chaque changement #}
							{% set nextEtude = etudes[loop.index0 - 1] ?? etude %}
							{% if loop.first or (etude.stateID != nextEtude.stateID) %}
									&nbsp<i class="fa fa-briefcase"></i>&nbsp
									{{ etude.getStateIDToString(etude.stateID) | trans({}, 'project') }}
									<li class="divider"></li>
							{% endif %}
						<li>
							<a href="{{ path('project_vue_ca', {'id': etude.id}) }}">
								<i class="fa fa-minus"></i>
								{{ etude.reference(param('namingConvention')) }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</li>
			{# Suivant #}
			<li>
				<a href="{{ path('project_vue_ca', {'id': nextID}) }}">{{ 'suivi.suivant'|trans({}, 'project') }}
					<i class="fa fa-arrow-right"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>

<table class="table table-bordered table-striped" style="padding-top: 0px;">
	<tr class="alert {{ getColor(etude) }}">
		<th>
			<h5>{{ etude.getStateIDToString(etude.stateID) | trans({}, 'project') }}</h5>
		</th>
		<td colspan="5">
			<strong>{{ etude.stateDescription }}</strong>
		</td>
	</tr>
	<tr>
		<td colspan="6">{{ etude.description }}</td>
	</tr>
	<tr>
		<th>{{ 'suivi.client'|trans({}, 'project') }}</th>
		<td colspan="2">{% include "Project/Etude/Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}</td>

		<th>{{ 'suivi.suiveur'|trans({}, 'project') }}</th>
		<td colspan="2">{% include "Project/Etude/Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveur} %}</td>
	</tr>
	{% if etude.missions is not empty %}
	<tr>
		<td colspan="6" style="text-align: center;">
			{% include "Project/Etude/Tools/Intervenants.html.twig" %}
		</td>
	</tr>
	{% endif %}
	<tr>
		<th>
			<div>{{ 'suivi.date_lancement'|trans({}, 'project') }}</div>
			<div>{{ 'suivi.date_fin'|trans({}, 'project') }}</div>
		</th>
		<td>
			{% include "Project/Etude/Tools/DatesEtude.html.twig" %}
		</td>
		<td colspan="3" style="text-align: center;">
			<b>{{ 'suivi.avancement'|trans({}, 'project') }}</b>
			<br>
			{% include "Project/Etude/Tools/AffichageAvancement.html.twig" %}
		</td>
		<td style="text-align: center;">
			<b>{{ 'suivi.dernier_contact'|trans({}, 'project') }}</b>
			<br>
			{% include "Project/Etude/Tools/DateDernierContact.html.twig" %}
		</td>
	</tr>
		<th>
			{{ 'suivi.jeh'|trans({}, 'project') }}
			<br>
			{{ 'suivi.prix_ht'|trans({}, 'project') }}
		</th>
		<td >
			{% include "Project/Etude/Tools/PrixEtJEH.html.twig" %}
		</td>
		<td colspan="4" style="text-align: center;">
			<b>{{ 'suivi.documents_etude'|trans({}, 'project') }}</b>
			<br>
			{% include "Project/Etude/Tools/AffichageDocumentsLabels.html.twig" %}
		</td>
	</tr>
</table>

<div id="ganttChart" style="width: 100%;"></div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="{{ asset('js/highcharts.js') }}"></script>
	<script src="{{ asset('js/highcharts-fr.js') }}"></script>
	<script src="{{ asset('js/exporting.js') }}"></script>

	<script type="text/javascript">
		{{ chart(chart) }}
		{% include 'Project/Etude/Tools/Avancement.js.twig' %}
	</script>
{% endblock %}
