<nav class="navbar" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle text-black" data-toggle="collapse" data-target=".navbar-recap">
			<span class="sr-only">Toggle navigation</span>
			<span class="fa fa-bars" ></span>
		</button>
		<span class="navbar-brand">{{ 'suivi.etude.etude'|trans({}, 'project') }} {{ etude.reference(param('namingConvention')) }} |</span>
	</div>
	<div class="collapse navbar-collapse navbar-recap">
		<ul class="nav  navbar-nav">
			<li><a href="{{ path('project_etude_modifier', {'nom': etude.nom}) }}"><span class="fa fa-pencil"></span> {{ 'suivi.modifier'|trans({}, 'project') }}</a></li>
		</ul>
	</div>
</nav>

{% if etude.stateDescription %}
<div class="alert alert-block alert-success alert-dismissable">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<h4>{{ 'suivi.information_suiveur'|trans({}, 'project') }}</h4>
				{{ etude.stateDescription }}
</div>
{% endif %}

<table style="table-layout: fixed;">
	<tr>
		<td style="width: 25%;" valign="top">
			<table class="table table-bordered table-striped" style="padding-top: 0px;">
					<td colspan="2" class="alert {{ getColor(etude) }}" >
<h4>{{ 'suivi.etat'|trans({}, 'project') }} : {{ etude.getStateIDToString(etude.stateID) | trans({}, 'project') }}</h4>
					</td>
				</tr>
				<tr>
					<th>{{ 'suivi.client'|trans({}, 'project') }}</th>
					<td>{% include "Project/Etude/Buttons/Prospect.html.twig" with  {'prospect':  etude.prospect} %}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.suiveur'|trans({}, 'project') }}</th>
					<td>{% include "Project/Etude/Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveur} %}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.suiveur_qualite'|trans({}, 'project') }}</th>
					<td>{% include "Project/Etude/Buttons/Suiveur.html.twig" with  {'suiveur':  etude.suiveurQualite} %}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.description'|trans({}, 'project') }}</th>
					<td>{{etude.description }}</td>
				</tr>
                <tr>
					<th>{{ 'suivi.domaine_competence'|trans({}, 'project') }}</th>
					<td>{{ etude.domaineCompetence ? etude.domaineCompetence.nom : "Non défini" }}</td>
				</tr>
                <tr>
					<th>{{ 'suivi.source_prospection'|trans({}, 'project') }}</th>
					<td>{{etude.sourceDeProspectionToString }}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.creation'|trans({}, 'project') }}</th>
					<td>{{ etude.dateCreation|date("d/m/Y") }}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.fin'|trans({}, 'project') }}</th>
					<td>{% if etude.avs | length > 0 %}<s><b>{%endif%}{{ etude.dateFin|date("d/m/Y") }}{% if etude.avs | length > 0 %}</b></s><br />{{ etude.dateFin(true)|date("d/m/Y") }}{%endif%}</td>
				</tr>
				<tr>
					<th>{{ 'suivi.jeh'|trans({}, 'project') }} - {{ 'suivi.prix'|trans({}, 'project') }}</th>
					<td>{{etude.nbrJEH | default('0') }} {{ 'suivi.jeh'|trans({}, 'project') }} - {{ etude.montantHT | default('0') }} € {{ 'suivi.ht'|trans({}, 'project') }}  ({{ 'suivi.dont_frais'|trans({}, 'project') }} : {{ etude.fraisDossier | default('0') }} €)</td>
				</tr>
			</table>
		</td>
		<td style="padding-left: 20px; width: 75%;" valign="top">
			<div id="ganttChart" style="width: 100%;"></div>
			<a href="{{ path('publish_getgantt', {'id': etude.id}) }}">{{ 'suivi.gantt_exporter'|trans({}, 'project') }}</a>
		</td>
	</tr>
</table>
