{% extends 'Project/layout.html.twig' %}

{% block title %}
	{{ 'dashboard.cca'|trans({}, 'dashboard') }}
	{{ parent() }}
{% endblock %}

{% block content_title %}
	{{ 'dashboard.cca'|trans({}, 'dashboard') }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/datatables/dataTables.bootstrap.css') }}">
	<link rel="stylesheet" href="{{ asset('css/datatables/dataTables.fontAwesome.css') }}">
	<link rel="stylesheet" href="{{ asset('css/datatables/responsive.bootstrap.min.css') }}">
{% endblock %}

{% block breadcrumb_active %}
	{{ 'dashboard.cca'|trans({}, 'dashboard') }}
{% endblock %}


{% block content_bundle %}

		<a class="btn btn-default" href="{{ path('project_cca_ajouter') }}" style="color: #3c8dbc;">
			<span class="fa fa-pencil"></span>
			{{ 'suivi.cca_ajouter'|trans({}, 'project') }}
		</a>

    <br><br>

		<table class="display dataTable table table-bordered table-striped dt-responsive" id="ccatable">
			<thead>
				<tr>
					<th>{{ 'suivi.cca_nom'|trans({}, 'project') }}</th>
					<th>{{ 'suivi.date_signature' | trans({}, 'project') }}</th>
					<th>{{ 'suivi.date_fin' | trans({}, 'project') }}</th>
					<th>{{ 'suivi.action' | trans({}, 'project') }}</th>
				</tr>
			</thead>
      <tbody>
			{% for cca in ccas %}
        {# On affiche en orange la ligne si la convention arrive bientôt à son terme (1 mois) et en rouge si elle est terminée #}
        {% set echeance = date(cca.dateFin).diff(date("now")) %}
        <tr class="{{ not echeance.invert ? "danger" : echeance.y == 0 and echeance.m  < 1 ? "warning" }}">
					<td><a href="{{ path('project_cca_voir', {'id' : cca.id }) }}">{{ cca.nom }}</a></td>
					<td>{{ cca.dateSignature | date('d/m/Y')}}</td>
					<td>{{ cca.dateFin | date('d/m/Y')}}</td>
					<td>
            <a href="{{ path('project_cca_bdc', {'id' : cca.id }) }}">
              <span>BDC ({{ cca.bdcs | length }})</span>&nbsp<i class="fa fa-eye"></i>
            </a>
						&nbsp
						<a href="{{ path('project_cca_modifier', {'id' : cca.id }) }}">
							<i class="fa fa-pencil"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
      </tbody>
		</table>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="{{ asset('js/datatables/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset('js/datatables/dataTables.bootstrap.min.js') }}"></script>
	<script src="{{ asset('js/datatables/dataTables.responsive.min.js') }}"></script>
	<script src="{{ asset('js/datatables/responsive.bootstrap.min.js') }}"></script>

	<script type="text/javascript" charset="utf-8">
			$(document).ready(function () {
		$('#ccatable').dataTable({
		"bPaginate": true,
		"bSort": true,
		"order": [],
		});
	});
	</script>
{% endblock %}
